<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>onGame Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">onGame</a>
          <a class="blog-nav-item" href="#"></a>
          
          <a class="blog-nav-item" href="#"></a>
          <a class="blog-nav-item" href="#"></a>
          <a class="blog-nav-item" href="#"></a>
          
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">onGame</h1>
        <p class="lead blog-description">Welcome to the official blog of onGame Natural Health Solutions!</p>
      </div>

        <div class="row">

          <div class="col-sm-12 blog-main">


          <section id="hypertension">
            <div class="blog-post">
              <h3 class="blog-post-title">Hypertension Care Pack</h3>
              <hr>            

              <p>Hypertension – High Blood Pressure</p>
              <hr>
              <p>Blood pressure is the force of blood against your artery walls as it circulates through your body. Blood pressure normally rises and falls throughout the day, but it can cause health problems if it stays high for a long time.</p>

              <blockquote>
                <h3>Causes</h3>
                <p>The exact cause of hypertension is usually unknown. There is however some factors associated with the condition:</p>              
                
                <ul>
                  <li>Smoking</li>
                  <li>Obesity or being overweight</li>
                  <li>Diabetes</li>
                  <li>Lack of physical activity</li>
                  <li>High levels of salt intake</li>
                  <li>Vitamin D deficiency</li>
                  <li>High levels of alcohol consumption</li>
                  <li>Stress</li>
                  <li>Aging</li>
                  <li>Genetics and family history etc</li>

                </ul>
              </blockquote>
              
              <!-- thumbnails for hyper care -->

              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="thumbnail">
                       <img src="/img/arctic.jpg" alt="">
                       <div class="caption">
                         <p><center>artic sea super omega III</center></p>
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="thumbnail">
                       <img src="/img/aloe.jpg" alt="">
                       <div class="caption">
                         <p><center>forever <br>aloe vera<br> gel</center></p>
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="thumbnail">
                       <img src="/img/garlic-thyme_tn.jpg" alt="">
                       <div class="caption">
                         <p><center>Forever Garlic Thyme</center></p>
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="thumbnail">
                       <img src="/img/CardioHealth.jpg" alt="">
                       <div class="caption">
                         <p><center>Forever Cadio Health</center></p>
                       </div>
                     </div>
                  </div>

                  <!--price for hyper care-->
                  <div class="col-sm-4">
                    <div class="panel-group">
                      <div class="panel panel-success">
                        <div class="panel panel-heading">
                          <p class="panel-title text-center">Place your Orders<br> ( If sms or email, send: name, address and product name)</p>
                        </div>
                        
                          <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> 09050140889</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> ongame@gmail.com</li>
                            <li class="list-group-item"><span class=""><strong>whatsapp</strong></span> 07033278594</li>
                            <li class="list-group-item"><span class=""><b>sms</b></span> 09050140889</li>
                            
                          </ul> 
                          <div class="panel-footer panel-info">
                            <p class="text-center">Price <span>N36,500</span>
                            <br> Pay only on Delivery
                            </p>
                            
                          </div>                         
                      </div>               
                       
                    </div>         
                  </div>
                  <!-- price ends -->

                  <blockquote>
                  <p class="caption">The combination of these products and suplements will get you in perfect health in
                  time</p>
                    <table class="table">
                    <thead>
                       <tr>
                           <th>Products</th>
                           <th>Suggested Usage</th>
                      </tr>
                     </thead>
                       <tbody>
                        <tr>
                          <td>Artic Sea Super Omega 3</td>
                          <td>Take two softgels with meals three times a day.</td>
                         </tr>
                         <tr>
                        <td>Aloe Vera Gel</td>
                          <td>5 - 15ml twice daily </td>
                         </tr>
                         <tr>
                           <td>Forever Garlic-Tyme</td>
                           <td>One softgel with each meal as a dietary supplement.</td>
                         </tr>
                         <tr>
                           <td>Forever CardioHealth</td>
                           <td>Throughly mix contents of one packet per day with 4 fl. oz. (118ml) of Forever Aloe Vera GelTM (or other beverage) then drink</td>
                         </tr>
                       </tbody>
                  </table>
                  </blockquote>

                </div>
                
                
              </div> 
              <!-- thumbnails for hyper care ends -->       
                
            

            </div><!-- /.blog-post -->
          </section>

              <!--Second Post -->
          <section id="anti-ageing">
            <div class="blog-post">
              <h3 class="blog-post-title">Anti Ageing Solution</h3>
              <p class="blog-post-meta">Aloe Fleur de Jouvence®<a href="#"></a></p>

              <p></p>
              <hr>
              
              <p>For centuries, numerous civilizations have used pure, fresh Aloe Vera to help their skin look and feel healthy, young and beautiful. The Egyptians, renowned for their continuous quest for physical beauty as epitomized by Cleopatra, used Aloe Vera for its moisturizing qualities in their efforts to remain young looking. Today, Forever Living Products has captured the full strength of the living plant and blended it into one of the finest skin care regimes available.</p>

                <div class="row">                             
                  <div class="col-sm-4" >
                     <div class="thumbnail">
                       <img src="/img/Jouvence-Kit.png" alt="">
                       <div class="caption">
                         <p><center>Anti Ageing Solution Pack</center></p>
                       </div>
                     </div>
                  </div>  

                  <div class="col-sm-4" >
                    <div class="panel-group">
                      <div class="panel panel-success">
                        <div class="panel panel-heading">
                          <p class="panel-title text-center">Place your Orders
                          ( If sms or email, send: name, address and product name)</p>
                        </div>
                        
                          <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> 09050140889</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> ongame@gmail.com</li>
                            <li class="list-group-item"><span class="">whatsapp</span> 07033278594</li>
                            <li class="list-group-item"><span class=""><b>sms</b></span> 09050140889</li>
                            
                          </ul> 
                          <div class="panel-footer panel-info">
                            <p class="text-center">Price <span>N25,000</span>
                            <br> Pay only on Delivery</p>
                          </div>                         
                      </div>               
                       
                    </div>                  
                  </div>

                </div>
                  
                



                
                  
            

                <p>
                <blockquote><b>Aloe Fleur de Jouvence® (‘Flower of Youth’)</b> is one of the most effective restorative beauty collections ever assembled. It is a collection of six wonderful components – each designed to fill a special part in a complete regimen of facial skin care. </blockquote>
                Combining the benefits of traditional wisdom with the scientific knowledge of modern dermatology, Forever Living Products has spared no expense in researching and developing excellent products. Displayed in a beautiful container, the collection also includes a mirror, mixing spoon and application brush. While each of the products is available separately for replacement, it is only through the combined use of all six elements that the full benefits can be enjoyed</p>

                <p>Each product in Aloe Fleur de Jouvence® has been developed with great care and attention to the daily needs of your skin. We start with pure, Stabilized Aloe Vera gel, and combine it with nature’s unique cellular substance, Collagen, along with exceptional moisturizers, emulsifiers and humectants. This creates a unique skin care range that helps counteract the threat of time, weather and environmental elements. The preventive and restorative Aloe Fleur de Jouvence® program provides a daily skin care regime to help promote the naturally occurring attributes of youth, vigor, freshness and radiance of the skin.</p>

                <p>Aloe Vera has always been great for the skin. Now, pamper yourself even more with Forever Living Products Aloe Fleur de Jouvence®!</p>         

               <blockquote> 
              <p>The Aloe Fleur de Jouvence® Collection includes:</p>
              <ol>
                <li>Aloe Cleanser</li>
                <li>Firming Day Lotion.</li>
                <li>Recovering Night Creme</li>
                <li>Mask Powder</li>
                <li>Aloe Activator</li>
                <li>Mixing spoon, applicator brush and mixing bowl</li>

              </ol>
              <p></p>
              </blockquote>
            </div><!-- /.blog-post -->
          </section>

          <!--Thirst Post -->
          <section id="men-sex">
            <div class="blog-post">
              <h2 class="blog-post-title">Men's Sexual Health</h2>
              <p class="blog-post-meta">Forever Multi-Maca®<a href="#"></a></p>
              <hr>
              <p>Maca, also known as Lepidium Meyenii, is an annual plant that is cultivated in the Peruvian central    highlands. The edible root, which resembles a radish, is a staple food for the local population.
                Maca has been highly revered for over 2,000 years in Peru. According to legend, the Incan warriors ate Maca for strength and endurance before going to battle. The Spanish Conquistadors called it the “sex herb of the Incas.” Today it is known as “Peruvian Ginseng”. 
                Modern studies suggest that Maca may promote libido, sexual potency and energy.</p>

                <!-- thumbnail -->

                <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="thumbnail">
                       <img src="/img/maca.jpg" alt="">
                       <div class="caption">
                         <p><center>Forever Multi-Maca®</center></p>
             
                       </div>
                     </div>
                  </div>

                  <div class="col-sm-4">
                    <blockquote>
                    <p class="text-center">
                      Forever Multi-Maca® combines legendary Peruvian Maca with other powerful herbs and select ingredients, to create one of the finest supplements of its kind!
                    </p>
                      <hr>
                      <p class=""><strong >Known as the sex herb of the Incas<br>
                      Helps promote libido, stamina and energy</strong></p>

                    </blockquote>
                  </div>



                  <!--price-->
                  <div class="col-sm-4">
                    <div class="panel-group">
                      <div class="panel panel-success">
                        <div class="panel panel-heading">
                          <p class="panel-title text-center">Place your Orders<br> ( If sms or email, send: name, address and product name)</p>
                        </div>
                        
                          <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> 09050140889</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> ongame@gmail.com</li>
                            <li class="list-group-item"><span class=""><strong>whatsapp</strong></span> 07033278594</li>
                            <li class="list-group-item"><span class=""><b>sms</b></span> 09050140889</li>
                            
                          </ul> 
                          <div class="panel-footer panel-info">
                            <p class="text-center">Price <span>N10,000</span>
                            <br> Pay only on Delivery
                            </p>
                            
                          </div>

                      </div>               
                       
                    </div>         
                  </div>
                  <!-- price ends -->
                 </div>
                    <table class="table">
                    <thead>
                       <tr>
                           <th>Products</th>
                           <th>Suggested Usage</th>
                      </tr>
                     </thead>
                       <tbody>
                        <tr>
                          <td>Forever Multi-Maca®</td>
                          <td>Two tablets every day with water.</td>
                         </tr>
                        
                  </table>
               </div> 



                  
              
            </div><!-- /.blog-post -->
          </section>

          <!--Fourth Post -->
          <section id="weight-mgt">
            <div class="blog-post">
              <h2 class="blog-post-title">Weight Management Pack</h2>
              <p class="blog-post-meta">Clean9®<a href="#"></a></p>
              <hr>
            
                <blockquote>
                  <p class=>
                  <h3 class="text-center text-bold"><b>CAN YOU LOOK AND FEEL BETTER IN JUST 9 DAYS ?
                  
                  YES!</b></h3>
                  </p>
                </blockquote>

                <div class="container">
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <div class="">
                       <img src="/img/clean9_list.jpg" alt="">                 
                     </div>
                  </div>
                 </div>
                </div>
              
              <div class="jumbotron:fluid">
                <p class="text-center blockquote"><strong>The CLEAN 9</strong> program can help to jumpstart
              your journey to a slimmer, healthier you. This effective,
              easy-to-follow cleansing program will give you the
              tools you need to start transforming your body today</p>
              <p class="text-center">
                <b>WHAT CAN YOU EXPECT OVER THE NEXT 9 DAYS?</b><br>
                YOU’LL NOT ONLY LOOK AND FEEL BETTER, YOU’LL
                ALSO BEGIN TO ELIMINATE STORED TOXINS THAT MAY
                BE KEEPING YOU FROM ABSORBING THE MAXIMUM
                NUTRIENTS IN YOUR FOOD. YOU’LL ALSO BEGIN
                TO FEEL LIGHTER AND MORE ENERGIZED AS YOU
                PROVE YOU CAN TAKE CONTROL OF YOUR APPETITE
                AND SEE YOUR BODY BEGIN TO CHANGE.
              </p>
                              
              </div>

               <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="thumbnail">
                       <img src="/img/clean9.png" alt="">
                       <div class="caption">
                         <p><center>Clean9®</center></p>
             
                       </div>
                     </div>
                  </div>

                  <div class="col-sm-4">
                    <blockquote>
                    <p class="text-center">
                      <b>MOVING TOWARDS
          A HEALTHIER LIFESTYLE
            ISN’T EASY...</b><br>
...but few things that are truly worthwhile are.
CLEAN 9 is the first step in establishing lifelong habits
that will help you achieve true and lasting weight
management. This proven cleansing system is the
foundation of the Forever F.I.T. program and will put
you in the best possible position to attain optimal
health, cleanse your body and build a slimmer,
leaner you.†
                    

                    </blockquote>
                  </div>



                  <!--price-->
                  <div class="col-sm-4">
                    <div class="panel-group">
                      <div class="panel panel-success">
                        <div class="panel panel-heading">
                          <p class="panel-title text-center">Place your Orders<br> ( If sms or email, send: name, address and product name)</p>
                        </div>
                        
                          <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> 09050140889</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> ongame@gmail.com</li>
                            <li class="list-group-item"><span class=""><strong>whatsapp</strong></span> 07033278594</li>
                            <li class="list-group-item"><span class=""><b>sms</b></span> 09050140889</li>
                            
                          </ul> 
                          <div class="panel-footer panel-info">
                            <p class="text-center">Price <span>N35,000</span>
                            <br> Pay only on Delivery
                            </p>
                            
                          </div>

                      </div>               
                       
                    </div>         
                  </div>
                  <!-- price ends -->
                 </div>
                    <table class="table">
                    <thead>
                       <tr>
                           <th>Products in Clean9®</th>
                           <th>Suggested Usage</th>
                      </tr>
                     </thead>
                       <tbody>
                        <tr>
                          <td>FOREVER ALOE VERA GEL®</td>
                          <td>helps cleanse the digestive system and maximize absorption of nutrients.</td>
                         </tr>
                         <tr>
                          <td>FOREVER FIBER®</td>
                          <td>provides a proprietary blend of 5g of water soluble fiber that can help promote feelings of fullness.</td>
                         </tr>
                          <tr>
                          <td>FOREVER THERM®</td>
                          <td>offers a powerful combination of botanical extracts and vitamins that can help support metabolism.</td>
                         </tr>
                         <tr>
                          <td>FOREVER GARCINIA PLUS®</td>
                          <td>may help the body burn fat more efficiently and help suppress appetite by increasing serotonin levels.</td>
                         </tr>
                         <tr>
                          <td>FOREVER LITE ULTRA®</td>
                          <td>shake mix is a rich source of vitamins and minerals with 17g of protein per serving.</td>
                         </tr>
             
                        
                  </table>
               </div>

              
              
            </div><!-- /.blog-post -->
          </section>
          
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="ongame.blogspot.com">blogspot</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog for <a href="/">onGame Natural Health Care Solutions</a> by <a href="">Fountain Labs</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
