<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>onGame Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">onGame</a>
          <a class="blog-nav-item" href="#"></a>
          
          <a class="blog-nav-item" href="#"></a>
          <a class="blog-nav-item" href="#"></a>
          <a class="blog-nav-item" href="#"></a>
          
        </nav>
      </div>
    </div>

    <div class="container-fluid">

      <div class="blog-header">
        <h1 class="blog-title">onGame</h1>
        <p class="lead blog-description">Welcome to the official blog of onGame Natural Health Solutions!</p>
      </div>

        <div class="row">

          <div class="col-sm-12 blog-main">
          <section id="hypertension">
            <div class="blog-post">
              <h2 class="blog-post-title">Hypertention Care Pack!</h2>
              

              <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
              <hr>
              <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
              <blockquote>
                <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </blockquote>
              <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
              <h2>Heading</h2>
              <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <h3>Sub-heading</h3>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <pre><code>Example code block</code></pre>
              <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
              <h3>Sub-heading</h3>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
              </ul>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
              <ol>
                <li>Vestibulum id ligula porta felis euismod semper.</li>
                <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
              </ol>
              <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->
          </section>

              <!--Second Post -->
          <section id="anti-ageing">
            <div class="blog-post">
              <h3 class="blog-post-title">Anti Ageing Solution!</h3>
              <p class="blog-post-meta">Aloe Fleur de Jouvence®<a href="#"></a></p>

              <p></p>
              <hr>
              
              <p>For centuries, numerous civilizations have used pure, fresh Aloe Vera to help their skin look and feel healthy, young and beautiful. The Egyptians, renowned for their continuous quest for physical beauty as epitomized by Cleopatra, used Aloe Vera for its moisturizing qualities in their efforts to remain young looking. Today, Forever Living Products has captured the full strength of the living plant and blended it into one of the finest skin care regimes available.</p>

                <div class="row">                             
                  <div class="col-sm-4" >
                     <div class="thumbnail">
                       <img src="/img/Jouvence-Kit.png" alt="">
                       <div class="caption">
                         <p><center>Anti Ageing Solution Pack</center></p>
                       </div>
                     </div>
                  </div>  

                  <div class="col-sm-6" >
                    <div class="panel-group">
                      <div class="panel panel-success">
                        <div class="panel panel-heading">
                          <p class="panel-title">Placing Orders</p>
                        </div>
                        
                          <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> 09050140889</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> ongame@gmail.com</li>
                            <li class="list-group-item"><span class="">whatsapp</span> 07033278594</li>
                            <li class="list-group-item"><span class=""><b>sms</b></span> 09050140889</li>
                            
                          </ul>                          
                      </div>               
                       
                    </div>                  
                  </div>

                </div>
                  
                



                
                  
            

                <p><b>Aloe Fleur de Jouvence® (‘Flower of Youth’)</b> is one of the most effective restorative beauty collections ever assembled. It is a collection of six wonderful components – each designed to fill a special part in a complete regimen of facial skin care. Combining the benefits of traditional wisdom with the scientific knowledge of modern dermatology, Forever Living Products has spared no expense in researching and developing excellent products. Displayed in a beautiful container, the collection also includes a mirror, mixing spoon and application brush. While each of the products is available separately for replacement, it is only through the combined use of all six elements that the full benefits can be enjoyed</p>

                <p>Each product in Aloe Fleur de Jouvence® has been developed with great care and attention to the daily needs of your skin. We start with pure, Stabilized Aloe Vera gel, and combine it with nature’s unique cellular substance, Collagen, along with exceptional moisturizers, emulsifiers and humectants. This creates a unique skin care range that helps counteract the threat of time, weather and environmental elements. The preventive and restorative Aloe Fleur de Jouvence® program provides a daily skin care regime to help promote the naturally occurring attributes of youth, vigor, freshness and radiance of the skin.</p>

                <p>Aloe Vera has always been great for the skin. Now, pamper yourself even more with Forever Living Products Aloe Fleur de Jouvence®!</p>         

                
              <p>The Aloe Fleur de Jouvence® Collection includes:</p>
              <ol>
                <li>Aloe Cleanser</li>
                <li>Firming Day Lotion.</li>
                <li>Recovering Night Creme</li>
                <li>Mask Powder</li>
                <li>Aloe Activator</li>
                <li>Mixing spoon, applicator brush and mixing bowl</li>

              </ol>
              <p></p>
            </div><!-- /.blog-post -->
          </section>

          <!--Thirst Post -->
          <section id="men-sex">
            <div class="blog-post">
              <h2 class="blog-post-title">Be thou Perfect!</h2>
              <p class="blog-post-meta">Date by<a href="#">Author</a></p>

              
              <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
              </ul>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
              <ol>
                <li>Vestibulum id ligula porta felis euismod semper.</li>
                <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
              </ol>
              <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->
          </section>

          <!--Fourth Post -->
          <section id="weight-mgt">
            <div class="blog-post">
              <h2 class="blog-post-title">Be thou Perfect!</h2>
              <p class="blog-post-meta">Date by<a href="#">Author</a></p>

              
              <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
              </ul>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
              <ol>
                <li>Vestibulum id ligula porta felis euismod semper.</li>
                <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
              </ol>
              <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->
          </section>
          
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">blogspot</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog for <a href="/">onGame Natural Health Care Solutions</a> by <a href="https://twitter.com/mdo">Fountain Labs</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
